// Cor de fundo
$body-bg: #efeeef;
$primary-color: #606060;
$secondary-color: #ababab;
// $secondary-color: #b5b5b5;
$footer-bg: #e5e1e2;

$secondary-text: #9a9a9a;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  // background-color: #575757;
  background-color: #efeeef;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 80px;
  padding-top: 16px;
  padding-right:8px;

  .navbar-left {
    display: flex;
    align-items: center;
    width: 80%;

    .navbar-logo {
      margin-left: 24px ;
      margin-right: auto;

      img {
        height: 130px;
      }
    }

    .navbar-search {
      display: flex;
      align-items: center;
      border: $secondary-color solid 1px;
      border-radius: 30px;
      background-color: #efeeef;
      
      input[type="text"] {
        min-width: 240px;
        border: transparent solid 0px;
        border-color: transparent;
        border-radius: 30px;
        background-color: transparent;
        color: #adadad;
        opacity: 0.7;
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
      }

      .search-icon {
        color: $primary-color;
        font-size: 20px;
        padding-right: 16px;
      }
    }
  }

  .divider-vertical {
    background-color: #efeeef;
    width: 1px;
    height: 90%;
    margin-left: 16px;
    margin-right: 16px;
  }
  .navbar-right {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .user-info {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-color;

      img {
        height: 50px;
        border-radius: 50%;
        border: $primary-color solid 1px;
        margin-right: 16px;
      }

      .user-details {
        text-align: left;
        margin-right: 24px;

        p {
          margin: 4px 0;
        }

        .welcome {
          font-size: 12px;
          color: $secondary-color;
        }

        .user-name {
          font-size: 16px;
          font-weight: bold;
        }
      }

    }
  }
}

/* Estilos do carrossel */
.carousel-container {
  position: relative;
  height: 30%;
  // height: 335px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.carousel-slide {
  position: relative;
  min-width: 100%;
  
  img {
   display: block;
   width: 100%;
  }
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #fff;
  opacity: 0.7;
  border: none;
  font-size: 50px;
  padding: 16px;
  cursor: pointer;
}

.carousel-prev {
  left: 16px;
}

.carousel-next {
  right: 16px;
}

.carousel-indicator {
  position: relative;
  display: flex;
  justify-content: center;
  // bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  
  .carousel-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-dot.active {
    background-color: #333;
  }
}

.content {
  display: flex;
  padding: 24px;
  height: 100%;
}

/* Estilos do footer */
footer {
  background-color: #fff;
  color: $secondary-color;
  margin-top: auto;

  .footer_logo {
    padding-left: 60px;
  }
  
  .copyright {
    text-align: left;
    font-size: small;
    color: $secondary-text;
    background-color: $footer-bg;
    padding-left: 50px;
    padding-right: 24px;
  }
}